---
import MainLayout from "@/layouts/MainLayout.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Services from "@/sections/Services.astro";
import { SITE } from "@data/constants";
import landingData from "@/data/landing.json";
import Adventajes from "@/sections/Adventajes.astro";
const image: CollectionEntry<"images">[] = (await getCollection("images")).sort(
  (a: CollectionEntry<"images">, b: CollectionEntry<"images">) =>
    a.data.id - b.data.id
);
const title: string = "About";
const pageTitle: string = `About | ${SITE.title}`;
const data = landingData
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://orchidfresh.ae",
    url: "https://orchidfresh.ae",
    name: "Orchid Fresh Dubai | Freshness Guarenteed",
    description:
      "Explore our vibrant produce section, where freshness is guaranteed. From crisp, just-picked vegetables to juicy, ripe fruits, each item is carefully selected to bring you the best flavors and nutrients nature has to offer.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://orchidfresh.ae",
      name: "Orchid Fresh",
      description:
        "Welcome to Orchid fresh Dubai, where freshness meets quality.",
    },
    inLanguage: "en-US",
  }}
>

  <main class="flex flex-col items-center justify-center mt-12 dark:text-gray-300">
    <div class="w-3/4">
      <!-- <Hero data={data.heroData} /> -->
      <Services data={data.servicesData} />
      <Adventajes data={data.adventajesData} />
      <!-- <Brands data={data.brandsData} />
      <Pricing data={data.pricingData} /> -->
    </div>
    <!-- <Footer data={data.footerData} /> -->
  </main>
</MainLayout>
